<body>
    <div style="visibility: visible;width: 80%;padding: 15px;">
          <div>
            <div style="
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.28);
    border-radius: .25rem;
    background-color: rgba(229, 228, 255, 0.1);
">
              <div style="
    box-sizing: border-box;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -15px;
">
                <img src="https://s.pstatic.net/static/www/mobile/edit/2016/0705/mobile_212852414260.png" class="card-img-top" style="border: 1px solid black;border-radius:5px;max-width: 180px;">
                <div>
                  <p>네이버 메인에서 다양한 정보와 유용한 컨텐츠를 만나 보세요</p>
                  <h4><strong>네이버</strong></h4>
                </div>
              </div>
              <div class="card-body" style="
padding-bottom: 1.25rem;
">
                <p class="card-text" style="
    color: #747373;
    font-size: .9rem;
    font-weight: 400;
    margin-left: 4%;
    margin-right: 4%;
">http://naver.com</p>
              </div>
            </div>
          </div>
        </div>

</body>
